/*フッターの固定*/
html{
  min-height: 100%;
  position: relative;
}

body{
  margin-left: auto;
  margin-right: auto;
  /*margin-bottom: 20px;*/
}

header{
  width: 100%;
  height: 66px;
  position:absolute;
  top: 0px;
  font-size: 16px;
  padding-bottom: 70px;
  background-color: black;
  font: white;
}
#submitbutton{
margin-top: 10px;
float: right;
background-color: black;
border: 1px solid #000;
}

li.list-group-item{
  display: inline-block;

}

li.img-top{
border: none;
background-color: black;
}
header > a{
  padding-right: 20px;
}

footer{
  background-color: black;
  text-align: center;
  /*こっちで高さを指定する場合はbodyでも同じ値(margin-bottom)を設定する*/
  /*height: 20px;*/
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
}
