
body{
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/start.png);
  background-size: 100% ;
}
#search{
text-align: center;
}
.title{
  font-size: 24px;
}
header{
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  font-size: 24px;
  z-index: 999;
}
#submitbutton{
margin-top: 10px;
float: right;
background-color: black;
border: 1px solid #000;
}

li.list-group-item{
  display: inline-block;

}

li.img-top{
border: none;
}
header > a{
  padding-right: 20px;
}

main{
  margin-top: 66px;
}

#search{
  margin-top: 80px;
}

.searchBox{
  list-style: none;

}

.searchBox > li{
  /*display: inline-block;*/
  /*width: 25%;*/
}

.list{
  display: flex;
  width: 70%;
  height:300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /*position: absolute;*/
  /*border-radius: 20px;*/
  /*padding-top: 20px;*/
  /*margin-top: 20px;*/
  /*background-color: rgb(223, 220, 221);*/
}

/*.list > .list-content > span{
  content: "\A" ;
}*/

.content{
  max-height: 160px;

  position: relative;
  overflow: hidden;
  /*overflow-y: hidden;*/
}


.list > .list-icon{
  float: left;
  width: 20%;
  padding-left: 10px;
}

.list > .list-content{
  width: 80%;
  padding-left: 30px;
  float: right;
  /*text-align: left;*/
}
.list-content > .content{
  min-height: 175px;
}
.list > .list-content > span{
  /*text-align: left;*/
}
.list > .list-content > .tag{
  /*position: absolute;
  bottom: 0;*/
  /*padding-bottom: 30px;*/
}


.count:before{
  content: "\A" ;
  white-space: pre;
}

.send{
  text-align: right;
}

/*.tag{
  padding-left: 10px;
  width: 100%;
}*/
/*.tag > a + .tag > a{
  padding-left: 10px;
}*/
/*
.send:before{
  content: "\A" ;
  white-space: pre;
}*/

.list > .list-content > input{
  text-align: right;
}

.list > .list-count{
  margin-right: 200px;
}

.page{
  text-align: center;
}
.num{
  display: inline-block;
}

.list-group-item + .list-group-item{
  /*border-top: none;*/
}

footer{
  background-color: rgb(212, 242, 190);
  text-align: center;
}
