@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jr1dft');
  src:  url('fonts/icomoon.eot?jr1dft#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jr1dft') format('truetype'),
    url('fonts/icomoon.woff?jr1dft') format('woff'),
    url('fonts/icomoon.svg?jr1dft#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: white;
  font-size: 40px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
